html, body, header, section, footer, div, ul, ol, li, img, a, span, em, del, legend, strong, var, fieldset, form, label, dl, dt, dd, cite,select,option, input, hr, time, mark, code, figcaption, figure, textarea, h1, h2, h3, h4, h5, h6, p,button {
    font: 14px "Microsoft Yahei","Helvetica Neue",sans-serif, Helvetica;
    margin:0;
    padding:0;
    list-style:none;
    border:none;
}
html,body {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
*{
    box-sizing:border-box;
}
nav,article,aside,details,main,header,footer,section,fieldset,figcaption,figure{
    display: block;
}
img,a,button,em,del,strong,var,label,cite,small,time,mark,code,textarea,output,span{
    display:inline-block;
}
input,button,textarea,select {
    outline: none;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    background-color:rgba(0, 0, 0, 0);
}
a:active, a:hover ,a:focus{
    outline: 0;
    text-decoration: none;
}
a, a:visited{
    text-decoration:none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td,th {
    padding: 0;
}
.clearfix{
  &:after{
    display: table;
    content:'';
    clear:both;
  }
}
i,em,strong,u,s,b{
    font-style:normal;
    text-decoration:none;
}
a{
  text-decoration:none;
  cursor:pointer;
}
img{
  vertical-align:bottom;
  border-style:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
a,button,input,optgroup,select,textarea{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
button,html input[type="button"],input[type="reset"],input[type="submit"] {
    -webkit-appearance: button;
    -moz-appearance:button;
    appearance:button;
    cursor: pointer;
}
button[disabled],html input[disabled] {
    cursor: default;
}
input[type="checkbox"],input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    height: auto;
}
input[type=number] {
    -moz-appearance:textfield;
    }

input[type="search"] {
    -webkit-appearance:textfiled;
    -moz-appearance:textfiled;
    appearance:textfiled;
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
}
input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px #fff inset;
}
